.profile__title {
    font-size: 42px;
    line-height: 50px;
    font-weight: 500;
    font-style: normal;
    color: #ffffff;
    margin: 0;
    align-self: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@media screen and (max-width: 320px) {
    .profile__title {
        font-size: 27px;
        line-height: 33px;
        text-align: center;
    }
}

@media screen and (min-width: 321px) and (max-width: 510px) {
    .profile__title {
        font-size: 27px;
        line-height: 33px;
    }
}