.form__input {
    width: 358px;
    font-size: 14px;
    line-height: 17px;
    font-style: normal;
    font-weight: 400;
    margin: auto;
    margin-top: 40px;
    border: none;
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
    padding-bottom: 8px;
}

@media screen and (max-width: 320px) {
    .form__input {
        width: 238px;
    }
}

@media screen and (min-width: 321px) and (max-width: 510px){
    .form__input {
        width: 242px;
    }
}