.popup__close-button {
    width: 56px;
    height: 56px;
    position: absolute;
    top: -50px;
    right: -48px;
    padding: 0;
    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: cover;
    background-color: transparent;
    border: none;
}

@media screen and (max-width: 320px) {
    .popup__close-button {
        width: 26px;
        height: 26px;
        top: -30px;
        left: 240.62px;     
    }
}

@media screen and (min-width: 321px) and (max-width: 510px) {
    .popup__close-button {
        width: 37px;
        height: 37px;
        top: -51.4px;
        right: 0;
    }
}

.popup__close-button:hover {
    opacity: .6;
    cursor: pointer;
}