.popup__close-button {
    width: 56px;
    height: 56px;
    background-color: #000;
    border: #000;
    position: absolute;
    top: -50px;
    right: -48px;
    background-image: url('../../../images/close-icon.svg');
    padding: 0;
    z-index: -1;
}

@media screen and (max-width: 510px) {
    .popup__close-button {
        width: 37px;
        height: 37px;
        top: -51.4px;
        left: 245.62px;
    }
}

.popup__close-button:hover {
    opacity: .6;
    cursor: pointer;
}